body{
    font-family: Impact;
    background-color:rgb(179, 179, 179);
}
 
h2
    {font-weight: 100;
    background-color:rgb(230, 230, 230);
    color:White;
    font-family: Impact;
    font-size: 30px;}
 
p{
    text-justify:     ;
}
img {
	width: 500px;
}

